/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#cssmenu ul
{
  margin:0;
  padding:0;
  list-style-type:none;
  width:auto;
  position:relative;
  display:block;
  height:30px;
  font-size:12px;
  font-weight:bold;
  background:transparent url(http://cssmenumaker.com/sites/default/files/menu/58/nav_bg.png) repeat-x top left;
  font-family:Arial, Helvetica, sans-serif;
  border-bottom:1px solid #000000;
  border-top:1px solid #000000;
}

#cssmenu li
{
  display:block;
  float:left;
  margin:0;
  padding:0;
}
  
#cssmenu li a
{
  display:block;
  float:left;
  color:#999999;
  text-decoration:none;
  font-weight:bold;
  padding:8px 20px 0 20px;
}
  
#cssmenu li a:hover
{ 
  color:#FFFFFF;
  height:22px;
  background:transparent url(/assets/nav_bg.png) 0px -30px no-repeat;   
}
  

#cssmenu li.active a
{
  display:inline;
  height:22px;
  background:transparent url(/assets/nav_bg.png) 0px -30px no-repeat; 
  float:left;
  margin:0;
}



/* form class */
/* ----- SimpleForm Styles ----- */

.simple_form form {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
  background-color: #ff3333;
}

.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
  font-family:Arial, Helvetica, sans-serif;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}


.create {
    background-color: #333;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#fafafa;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding:7px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #70706f;
}.create:hover {
    background-color:#336;
}.create:active {
    position:relative;
    top:1px;
}

h1 {
  font-family:Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
}

 