<h1>Moon Phase Information</h1>

<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td><%= @moonphase.phase_value %></td>
		<td>
			<table>
				<tr>
					<td>Illumination</td>
					<td><%= @moonphase.illumination %></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

